html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
  position: relative;
  display: flex;
}

.search {
  width: 70%;
  height: 100%;
  position: relative;
  z-index: 1;
}

.nominations {
  width: 30%;
  height: 100%;
  background-color: #f2f2f2;
  position: fixed;
  top: 0;
  right: 0;
  overflow-y: scroll;
}

.search__title {
  font-size: 3rem;
  font-weight: 400;
  width: 70%;
  margin: 2rem auto 2rem 5rem;
}

.form-group {
  width: 60%;
  margin: 2rem auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

.label {
  font-size: 1.6rem;
  font-weight: 500;
}

.input {
  font-size: 1.6rem;
  width: 60%;
  outline: none;
  padding: 1rem 1rem;
  border-radius: 13px;
  border: 1px solid #dbdbdb;
}

.search__results {
  width: 80%;
  margin: 0 auto;
}

.search__banner,
.main__banner {
  height: 5rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.3rem;
  transition: all 0.5s ease-in;
  visibility: hidden;
  z-index: 10;
}

.search__banner {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #1857df79;
}

.main__banner {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #1857df;
}

.main__banner.show__banner {
  transform: translateY(-5rem);
  visibility: visible;
}

.search__banner.show__banner {
  transform: translateY(5rem);
  visibility: visible;
}

.movie {
  background-color: #5985ad08;
  border-radius: 13px;
  border: 1px solid #6390b0;
  min-height: 25rem;
  height: auto;
  width: 90%;
  margin: 0 auto 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.movie__poster {
  height: 90%;
  width: auto;
  max-width: 40%;
}
.movie__desc {
  align-self: flex-start;
  width: 50%;
  height: 90%;
  margin: auto 0;
}
.movie__desc-title,
.movie__desc-year,
.movie__desc-genre {
  font-size: 1.6rem;
  font-weight: 600;
}

.nominate,
.remove {
  margin: auto 0 0 auto;
  font-size: 2rem;
  cursor: pointer;
  transition: all 0.5s ease-in;
}

.fa-plus-square {
  color: #ff0000;
  transition: all 0.5s ease-in;
}

.nominate:hover .fa-plus-square,
.remove:hover .fa-minus-square {
  transform: rotate(180deg);
}

.nominate:hover,
.remove:hover {
  font-size: 2.2rem;
}

.nominations__title {
  width: 80%;
  margin: 2rem auto;
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
}

.nominations__list {
  width: 95%;
  margin: 0 auto;
}

.nominee {
  width: 100%;
  height: auto;
  margin: 2rem auto;
  border-bottom: 4px solid #ffffff;
}

.nominee__desc {
  height: 80%;
  width: 100%;
  margin: 0 0 1rem;
  min-height: 15rem;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nominee__poster {
  width: 40%;
}

.nominee__desc-title {
  width: 50%;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}

.remove {
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

.fa-minus-square {
  color: #5b88e8;
  transition: all 0.5s ease-in;
}

.box__open,
.box__close {
  width: 4rem;
  height: 4rem;
  border: 2px solid #000000;
  background-color: #5b88e8;
  position: fixed;
  top: 2rem;
  right: 0;
  display: none;
  justify-content: center;
  align-items: center;
  font-size: 2.4rem;
  cursor: pointer;
  z-index: 101;
}

.box__close {
  top: 7rem;
  right: 0;
  z-index: 200;
}

/* media query */
@media screen and (max-width: 1436px) {
  .nominee__desc-title {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 1136px) {
  .nominee__desc {
    flex-direction: column;
  }
  .nominee__desc-title {
    font-size: 1.2rem;
    width: 80%;
  }
  .nominee__poster {
    width: 80%;
  }

  .form-group {
    width: 90%;
  }
}

@media screen and (max-width: 836px) {
  .search__results {
    width: 100%;
    margin: 0;
  }

  .movie {
    width: 95%;
  }

  .nominations__title {
    width: 100%;
    font-size: 1.4rem;
  }

  .remove {
    width: 100%;
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 636px) {
  .search__title {
    text-align: center;
  }

  .search {
    width: 100%;
  }

  .nominations {
    width: 100%;
    height: 100vh;
    position: fixed;
    right: -100%;
    transition: all 0.5s ease-in-out;
    z-index: 9;
    overflow-y: scroll;
  }

  .form-group {
    flex-direction: column;
  }

  .label {
    margin-bottom: 1rem;
  }

  .input {
    width: 90%;
  }

  .main__banner.show__banner {
    transform: translateY(-6rem);
    visibility: visible;
  }

  .search__banner.show__banner {
    transform: translateY(8rem);
    visibility: visible;
  }

  .box__open,
  .box__close {
    display: flex;
  }
}

@media screen and (max-width: 500px) {
  .movie {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: auto;
  }

  .movie__poster {
    max-width: unset;
    width: 70%;
    /* height: 70%; */
  }

  .movie__desc {
    width: 100%;
    height: 30%;
    margin: 0;
  }
}
